/* --------------------  SFDev_NXT_Hackathon_2015  -------------------- */
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Lato:300,400,700|Roboto:400,700,500,300|Open+Sans:400,300,600,700|Orbitron:400,700,500);

body
{
    background-image: url(../img/stardust.png)
}



header
{
height: 50px;
  background-color: #0555a5;
  background-image:
    linear-gradient(
      #0093b5, #06c3e6
    );
}

header img
{
    float: left;
    height: 40px;
    width: 90px;
    margin: 5px;
    margin-left: 25px;
}

nav
{
    display: block;
    width: 960px;
    margin: 0 auto;
    height: 50px;
    padding-left: 20px;
    color: #000;
    text-align: center;
    font-family: "Roboto",sans-serif;
}

nav a 
{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    margin-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

main
{
    height: 900px !important;
}

main, #trade_page,#about,#convert_interface,#market_page
{
    display: block;
    margin: 0 auto;
    height: auto;
    width: 960px;
    background-color: #bebebe;
    margin-top 10px;
    margin-top: 50px;
    border: solid 1px #000;
}

h1
{
    text-align: center;
    padding-top: 20px;
    font-family: 'orbitron',sans-serif;
}

h2
{
    text-align: center;
    padding-top: 20px;
    font-family: 'Lato',sans-serif;
}


main table a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
main table a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
main table a:active,
main table a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
main table {
    width: 800px;
    margin: 0 auto;
    border: solid 1px #000;
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}
main table th {
    
	padding:21px 25px 22px 25px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
main table th:first-child 
{
	text-align: left;
	padding-left:20px;
}
main table tr:first-child th:first-child 
{
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
main table tr:first-child th:last-child 
{
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
main table tr 
{
	text-align: center;
	padding-left:20px;
}
main table td:first-child 
{
	text-align: left;
	padding-left:20px;
	border-left: 0;
}
main table td 
{
	padding:18px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
main table tr.even td 
{
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
main table tr:last-child td 
{
	border-bottom:0;
}
main table tr:last-child td:first-child 
{
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
main table tr:last-child td:last-child 
{
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
main table tr:hover td 
{
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}

#about p
{
    width: 700px;
    margin: 0 auto;
    text-align: justify;
    font-family: Lato,sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-top: 80px;
}
#about img,main #LogoFoot
{
    width: 200px;
    height: 80px;
    display: block;
    margin: 0 auto;
    margin-top: 80px;
}

/*------------ Trade page Assets List ------------*/
#trade_page .list,#market_page .list
{
    
    display: block;
    margin: 0 auto;
    list-style-type: none;
    width: 96%;
    height: auto;
    max-height: 400px;
    padding-top: 20px;
    text-transform: uppercase;
    font-family: Roboto,sans-serif;
    font-weight: 400;
}

#trade_page .list li,#market_page .list li
{
    display: inline-block;
    height: 26px;
    width: 100px;
    padding-top: 5px;
    background-color: #363636;
    border: solid #198dc1 1px;
    
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
}

#trade_page .list li a,#market_page .list li a
{
    text-decoration:none;
    color: #00a2bf;
    height: 26px;
    width: 100px;
    display: block;
}

#chart
{

}

#trade
{
    display: block;
    height: 850px;
}

.asset_description
{
    background-color: #333;
    height: auto;
    width: 850px;
    display: block;
    margin: 0 auto;
}

.asset_description h3
{
    color:#0083be;
    text-align: center;
    display: block;
    padding-top: 10px;
    font-size: 22px;
    text-transform: uppercase;
    font-family: Lato,sans-serif;
    font-weight: 300;
}

.asset_description .infos
{
    text-align: center;
    color: #00a7e5;
    font-family: Lato,sans-serif;
    font-weight: 300;
    font-size: 18px;
}

.asset_description .infos span
{
    width: 40%;
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    padding: 5px;
}

/*------------ Convert page ------------*/

#convert_interface ul 
{
    list-style-type: none;
    display: block;
    text-align: center;
    height: 40px;
    width: 96%;
    margin: 0 auto;
    background-color: rgba(54, 54, 54, 0.7);
}


#convert_interface ul li
{
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    font-family: "Droid Sans",sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding-top: 8px;
}

#convert_interface ul li span
{
    color: #0dabff;
    font-weight: 400;
    font-size: 20px;
}
#convert_interface form
{
    width: 300px;
    margin: 0 auto;
    margin-top: 40px;
}

#convert_interface form input
{
    width: 300px;
    margin: 0 auto;
}

#convert_interface input[type=text]
{
    height: 30px;
    background: #494d54;
    border-color: #51cbee;
    color: #fff;
    margin-bottom: 10px;
    outline: none;
}

#convert_interface input[type=text]:focus
{
    box-shadow: inset 0 0 2px #000;

     /* Remove Chrome outline */
}
#convert_interface input[type=submit]
{
    border: none;
    height: 40px;
    background: #0070c3;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 20px;
}

#convert_interface #result
{
    width: 700px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

#convert_interface #payment_not #span
{
    color: #1ebaff;
}

#convert_interface #payment_not
{
    margin-top: 20px;
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
}

#convert_interface #qrcode
{
    display: block;
    margin: 0 auto;
}


/*------------ Market page ------------*/

